* {
    font-family: 'Gabriela', serif;
    font-size: 18px;
    color: rgb(231, 230, 211);
}

.imgfondo {
    /*editamos la imagen de fonto para que el texto sea legible*/
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.87)), url(../multimedia/pk.jpg);
    width: 100%;
    background-size: cover;
}

.imghistoria img {
    /*perzonalizamos el tamaño y la ubicacion de la imagen*/
    margin: 0px 10px 0 10px;
    float: right;
    width: 35%;
}

.imgyamakasi img {
    /*perzonalizamos el tamaño y la ubicacion de la imagen, ademas damos un tamaño minimo para no
        perderse la imagen al momento de que la pantalla sea chica*/
    margin: 0px 10px 0 10px;
    float: right;
    min-width: 120px;
    min-height: 70px;
    width: 35%;
}

.imgdan img {
    width: 100%;
}

.imgdanperfil {
    width: 25vh;
    float: right;
}

.c1 {
    /*Los nombres no son tan significativos ya que solo son 3 contenedores a editar el fondo*/
    background-color: rgb(0, 0, 0);
}

.c2 {
    background-color: rgba(238, 238, 238, 0.966);
}

.c3 {
    background-color: rgb(255, 255, 255);
}

footer {
    /*reducimos su tamaño para dejar importancia al contenido de la pagina*/
    font-size: small;
}


/*Ejercicio 4*/

@media (min-width: 0.02px) {
    /*personalizamos todos los div's al agregarle borde*/
    .colum1,
    .colum2,
    .colum3 {
        font-weight: 500;
        color: #000;
        border: 2px solid rgb(75, 74, 74);
    }
    /*editamos tamaño y color en primera instancia del header*/
    .fila1 .colum1 {
        height: auto;
        background-color: darksalmon;
    }
    /*al contenido del centro editamos su tamaño 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2,
    .fila2 .colum3 {
        font-size: 500%;
        height: 25vh;
    }
    /*agregamos color al fondo del contenido*/
    .fila2 .colum1,
    .fila2 .colum3 {
        background-color: red;
    }
    /*agregamos color a la primera vista al ser pantalla pequeña*/
    .fila2 .colum2 {
        background-color: cyan;
    }
    /*damos tamaño y color al fondo del footer*/
    .fila3 .colum1,
    .fila3 .colum2 {
        height: auto;
        background-color: yellow;
    }
}

@media (min-width: 768px) {
    /*tamaño:MD comienzan los cambios de estilos por cambio de la resolucion de pantalla*/
    /*cambia el header su color de fondo y tamaño*/
    .fila1 .colum1 {
        background-color: cyan;
    }
    /*aumentamos el tamaños de contenido central 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2 {
        height: 40vh;
    }
    /*al ser md pasa el color de fondo del 2 a rojo*/
    .fila2 .colum2 {
        background-color: red;
    }
    /*al ser md para el numero 3 pasa su fondo a color verder*/
    .fila2 .colum3 {
        background-color: rgb(47, 245, 47);
    }
}

@media(min-width: 992px) {
    /*la medida de pantalla es lg o + */
    .fila1 .colum1 {
        background-color: rgb(47, 245, 47);
    }
    /*al ser pantalla mas grande aumentamos su tamaño al contenido central 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2,
    .fila2 .colum3 {
        height: 65vh;
    }
    /*al fondo del contenido numero 3 pasa a ser de fondo rojo*/
    .fila2 .colum3 {
        background-color: red;
    }
}


/*Ejercicio 5*/


/*Los colores al ser fijos no lo define por tamaños*/

.col1,
.col2,
.col3,
.col4 {
    color: #000;
    border: 5px solid rgb(168, 168, 168);
}


/*El header cambia el tamaño del borde, es distinto a los demas*/

.fila1 .col1 {
    border: 1px solid grey;
}

@media (min-width: 0.02px) {
    /*definimos tamaño y color del header*/
    .fila1 .col1 {
        height: auto;
        background-color: chartreuse;
    }
    /*agregamos tamaño y color al fondo 1,2,3,4*/
    .fila2 .col1,
    .fila2 .col2,
    .fila2 .col3,
    .fila2 .col4 {
        height: 20vh;
        background-color: rgb(117, 155, 218);
    }
    /*agregamos tamaño y color al fondo de las letras a,b,c,d*/
    .fila3 .col1,
    .fila3 .col2,
    .fila3 .col3,
    .fila3 .col4 {
        height: 20vh;
        background-color: rgb(206, 205, 205);
    }
    /*tamaño y color de fondo de descripcion de dispositivo*/
    .fila4 .col1,
    .fila4 .col2,
    .fila4 .col3 {
        height: 10vh;
        background-color: rgb(66, 228, 231);
    }
    /*definimos el tamaño de las caritas*/
    .fila5 .col2,
    .fila5 .col1 {
        height: 15vh;
        background-color: rgb(246, 154, 92);
    }
    /*damos tamaño y color al footer*/
    .fila6 .col1 {
        height: auto;
        background-color: rgb(4, 161, 4);
    }
}

@media (min-width: 992px) {
    /*como este tamaño se prenseta mas cuadrado los divs, aumentamos tamaño*/
    .fila2 .col1,
    .fila2 .col2,
    .fila2 .col3,
    .fila2 .col4,
    .fila3 .col1,
    .fila3 .col2,
    .fila3 .col3,
    .fila3 .col4,
    .fila5 .col1,
    .fila5 .col2 {
        height: 25vh;
    }
}