svg {
    width: 0;
    height: 0;
    display: block;
}

.grid {
    transform-style: preserve-3d;
    perspective: 2000;
}

.item-box {
    height: 185px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: all 0.225s cubic-bezier(1.65, 1.05, 1.36, 1) 1.225s;
}

.item-box:nth-child(1) .puzzle:before {
    background-image: url("../img1.jpg");
}

.item-box:nth-child(2) .puzzle:before {
    background-image: url("../img2.jpg");
}

.item-box:nth-child(3) .puzzle:before {
    background-image: url("../img11.jpg");
}

.item-box:nth-child(4) .puzzle:before {
    background-image: url("../img4.jpg");
}

.item-box:nth-child(5) .puzzle:before {
    background-image: url("../img5.jpg");
}

.item-box:nth-child(6) .puzzle:before {
    background-image: url("../img12.jpg");
}

.item-box:nth-child(7) .puzzle:before {
    background-image: url("../img7.jpg");
}

.item-box:nth-child(8) .puzzle:before {
    background-image: url("../img8.jpg");
}

.item-box:nth-child(9) .puzzle:before {
    background-image: url("../img9.jpg");
}

.item-box:nth-child(10) .puzzle:before {
    background-image: url("../img10.jpg");
}

.item-box:nth-child(11) .puzzle:before {
    background-image: url("../img6.jpg");
}

.item-box:nth-child(12) .puzzle:before {
    background-image: url("../img3.jpg");
}

.item-box:hover {
    transform: scale(1.25, 1.25);
}

.item-box:hover .puzzle {
    transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    opacity: 1;
}

.item-box .item-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.piece {
    position: absolute;
    width: 13.33333vmin;
    height: 13.33333vmin;
    transform-style: preserve-3d;
}

.piece:nth-child(1) {
    transform: translateX(-100%) translateY(-100%) rotate(0deg);
}

.piece:nth-child(1) .puzzle:before {
    background-position: 0% 0%;
    transform: rotate(0deg);
}

.piece:nth-child(2) {
    transform: translateX(0%) translateY(-100%) rotate(90deg);
}

.piece:nth-child(2) .puzzle:before {
    background-position: 100% 0%;
    transform: rotate(-90deg);
}

.piece:nth-child(3) {
    transform: translateX(0%) translateY(0%) rotate(180deg);
}

.piece:nth-child(3) .puzzle:before {
    background-position: 100% 100%;
    transform: rotate(-180deg);
}

.piece:nth-child(4) {
    transform: translateX(-100%) translateY(0%) rotate(270deg);
}

.piece:nth-child(4) .puzzle:before {
    background-position: 0% 100%;
    transform: rotate(-270deg);
}

.puzzle {
    position: relative;
    width: 17.17505vmin;
    height: 17.17505vmin;
    background-color: #000;
    -webkit-clip-path: url(#puzzle);
    clip-path: url(#puzzle);
    opacity: .5;
    transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
    transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.puzzle:before {
    content: "";
    position: absolute;
    width: 17.17505vmin;
    height: 17.17505vmin;
    background-size: 155.264%;
}

@-webkit-keyframes init {
    from {
        transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    }
}

@keyframes init {
    from {
        transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    }
}