@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
* {
    font-family: 'Gabriela', serif;
    font-size: 18px;
    color: #e7e6d3;
}

#campoSugerenciasEstado ul,
#campoSugerenciasProvincia ul {
    min-width: 25%;
    position: absolute;
    z-index: 1;
}

#grupo option,
#integrantes option {
    background-color: black;
}

.imgfondo {
    /*editamos la imagen de fonto para que los textos sean legibles*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.87))), url(http://localhost/pwa/parkour/galeria/fondo.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.87)), url(http://localhost/pwa/parkour/galeria/fondo.jpg);
    width: 100%;
    background-size: cover;
}

.c1 {
    /*Los nombres no son tan significativos ya que solo 1 contenedor a editar el fondo*/
    background-color: black;
}

.pie p,
.pie a {
    font-size: 13px;
}


/*-----------------INICIO-----------------*/

.historia {
    background-color: #0a0a0a;
}

.historia div img {
    /*perzonalizamos el tamaño y la ubicacion de la imagen*/
    margin: 0px 10px 0 10px;
    float: right;
    width: 35%;
}


/*-----------------EJERCICIO 2-----------------*/

#nav-yamakasi img {
    /*perzonalizamos el tamaño y la ubicacion de la imagen, ademas damos un tamaño minimo para no
        perderse la imagen al momento de que la pantalla sea chica*/
    margin: 0px 10px 0 10px;
    float: right;
    min-width: 120px;
    min-height: 70px;
    width: 35%;
}

#nav-movimientos img {
    /*En las imagenes de TAB movimientos, ajustamos las imagenes para no deformarse y le damos
    un altodeterminado y que se ajuste al card que se encuentra*/
    height: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
}

#nav-movimientos .card {
    /*Los card que contienen las imagenes determinamos que ocupe el espacio util total y 
    que su fondo cambie de color*/
    height: 100%;
    background-color: #0f0f0f;
}

.imgdan img {
    /*la imagen principal que se ve en medida lg lo ajustamos que ocupe el ancho total*/
    width: 100%;
}

.imgdanperfil {
    width: 25vh;
    float: right;
}


/*-----------------EJERCICIO 4-----------------*/

@media (min-width: 0.02px) {
    /*personalizamos todos los div's al agregarle borde*/
    .colum1,
    .colum2,
    .colum3 {
        font-weight: 500;
        color: #000;
        border: 2px solid #4b4a4a;
    }
    /*editamos tamaño y color en primera instancia del header*/
    .fila1 .colum1 {
        height: auto;
        background-color: darksalmon;
    }
    /*al contenido del centro editamos su tamaño 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2,
    .fila2 .colum3 {
        font-size: 500%;
        height: 25vh;
    }
    /*agregamos color al fondo del contenido*/
    .fila2 .colum1,
    .fila2 .colum3 {
        background-color: red;
    }
    /*agregamos color a la primera vista al ser pantalla pequeña*/
    .fila2 .colum2 {
        background-color: cyan;
    }
    /*damos tamaño y color al fondo del footer*/
    .fila3 .colum1,
    .fila3 .colum2 {
        height: auto;
        background-color: yellow;
    }
}

@media (min-width: 768px) {
    /*tamaño:MD comienzan los cambios de estilos por cambio de la resolucion de pantalla*/
    /*cambia el header su color de fondo y tamaño*/
    .fila1 .colum1 {
        background-color: cyan;
    }
    /*aumentamos el tamaños de contenido central 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2 {
        height: 40vh;
    }
    /*al ser md pasa el color de fondo del 2 a rojo*/
    .fila2 .colum2 {
        background-color: red;
    }
    /*al ser md para el numero 3 pasa su fondo a color verder*/
    .fila2 .colum3 {
        background-color: #2ff52f;
    }
}

@media (min-width: 992px) {
    /*la medida de pantalla es lg o + */
    .fila1 .colum1 {
        background-color: #2ff52f;
    }
    /*al ser pantalla mas grande aumentamos su tamaño al contenido central 1,2,3*/
    .fila2 .colum1,
    .fila2 .colum2,
    .fila2 .colum3 {
        height: 65vh;
    }
    /*al fondo del contenido numero 3 pasa a ser de fondo rojo*/
    .fila2 .colum3 {
        background-color: red;
    }
}


/*-----------------EJERCICIO 5-----------------*/


/*Los colores al ser fijos no lo define por tamaños*/

.col1,
.col2,
.col3,
.col4 {
    color: #000;
    border: 5px solid #a8a8a8;
}


/*El header cambia el tamaño del borde, es distinto a los demas*/

.fila1 .col1 {
    border: 1px solid grey;
}

@media (min-width: 0.02px) {
    /*definimos tamaño y color del header*/
    .fila1 .col1 {
        height: auto;
        background-color: chartreuse;
    }
    /*agregamos tamaño y color al fondo 1,2,3,4*/
    .fila2 .col1,
    .fila2 .col2,
    .fila2 .col3,
    .fila2 .col4 {
        height: 20vh;
        background-color: #759bda;
    }
    /*agregamos tamaño y color al fondo de las letras a,b,c,d*/
    .fila3 .col1,
    .fila3 .col2,
    .fila3 .col3,
    .fila3 .col4 {
        height: 20vh;
        background-color: #cecdcd;
    }
    /*tamaño y color de fondo de descripcion de dispositivo*/
    .fila4 .col1,
    .fila4 .col2,
    .fila4 .col3 {
        height: 10vh;
        background-color: #42e4e7;
    }
    /*definimos el tamaño de las caritas*/
    .fila5 .col2,
    .fila5 .col1 {
        height: 15vh;
        background-color: #f69a5c;
    }
    /*damos tamaño y color al footer*/
    .fila6 .col1 {
        height: auto;
        background-color: #04a104;
    }
}

@media (min-width: 992px) {
    /*como este tamaño se prenseta mas cuadrado los divs, aumentamos tamaño*/
    .fila2 .col1,
    .fila2 .col2,
    .fila2 .col3,
    .fila2 .col4,
    .fila3 .col1,
    .fila3 .col2,
    .fila3 .col3,
    .fila3 .col4,
    .fila5 .col1,
    .fila5 .col2 {
        height: 25vh;
    }
}


/*------------------------FOTOGRAFIAS-----------------*/

.item-box {
    height: 178px;
    cursor: pointer;
    -webkit-transition: all 1.225s cubic-bezier(1.65, 1.05, 1.36, 1) 2.225s;
    transition: all 1.225s cubic-bezier(1.65, 1.05, 1.36, 1) 2.225s;
}

.item-box:nth-child(1) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/backflip-rio.jpg");
}

.item-box:nth-child(2) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/doublekong.jpg");
}

.item-box:nth-child(3) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/gato.jpg");
}

.item-box:nth-child(4) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/flag.jpg");
}

.item-box:nth-child(5) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/kong-largo.jpg");
}

.item-box:nth-child(6) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/free.jpg");
}

.item-box:nth-child(7) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/pasavalla.jpg");
}

.item-box:nth-child(8) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/precision.jpg");
}

.item-box:nth-child(9) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/reverso.jpg");
}

.item-box:nth-child(10) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/rompe.jpg");
}

.item-box:nth-child(11) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/run.jpg");
}

.item-box:nth-child(12) .puzzle:before {
    background-image: url("http://localhost/pwa/parkour/galeria/saltobrazo.jpg");
}

.item-box:hover {
    -webkit-transform: scale(1.55, 1.55);
    transform: scale(1.55, 1.55);
}

.item-box:hover .puzzle {
    -webkit-transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    opacity: 1;
}

.item-box .item-container {
    position: relative;
    top: 50%;
    left: 50%;
}

.piece {
    position: absolute;
    width: 9.9999975vmin;
    height: 9.9999975vmin;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.piece:nth-child(1) {
    -webkit-transform: translateX(-100%) translateY(-100%) rotate(0deg);
    transform: translateX(-100%) translateY(-100%) rotate(0deg);
}

.piece:nth-child(1) .puzzle:before {
    background-position: 0% 0%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.piece:nth-child(2) {
    -webkit-transform: translateX(0%) translateY(-100%) rotate(90deg);
    transform: translateX(0%) translateY(-100%) rotate(90deg);
}

.piece:nth-child(2) .puzzle:before {
    background-position: 100% 0%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.piece:nth-child(3) {
    -webkit-transform: translateX(0%) translateY(0%) rotate(180deg);
    transform: translateX(0%) translateY(0%) rotate(180deg);
}

.piece:nth-child(3) .puzzle:before {
    background-position: 100% 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.piece:nth-child(4) {
    -webkit-transform: translateX(-100%) translateY(0%) rotate(270deg);
    transform: translateX(-100%) translateY(0%) rotate(270deg);
}

.piece:nth-child(4) .puzzle:before {
    background-position: 0% 100%;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.puzzle {
    position: relative;
    width: 12.8812875vmin;
    height: 12.8812875vmin;
    background-color: #000;
    -webkit-clip-path: url(#puzzle);
    clip-path: url(#puzzle);
    opacity: .5;
    -webkit-transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
    transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
    -webkit-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.puzzle:before {
    content: "";
    position: absolute;
    width: 12.8812875vmin;
    height: 12.8812875vmin;
    background-size: 155.264%;
}

@keyframes init {
    from {
        -webkit-transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
        transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
    }
}